* {
  color: red;
}

li {
  color: purple;
}

.special {
  color: orange;
}

li, p {
  background-color: greenyellow;
}

ol li {
  color: green;
  text-align: center;
}

img {
  display: block;
  height: auto;
  width: 20em;
  margin: auto;
}